/*=====================================
=            Global Styles            =
=====================================*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: $gray5;
}

@media (min-width: 34em) {
    html {
        font-size: 16px;
    }
}

.wrapper {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 48em; /* using max-width to not let the reading column width get too wide */
}

@media (min-width: 34em) {
    .wrapper {
        padding: 0 2em;
    }
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.post hr {
    border: 0;
    border-bottom: 1px dashed $gray4;
    padding-top: 4em;
    max-width: 80%;
    margin: 0 auto;
}

.post:last-of-type hr {
    border-bottom: none;
}

img {
    max-width: 100%;
}

.l-img {
    float: left;
    margin: 0 1em 1em 0;
    clear: both;
    overflow: hidden;
}

.r-img {
    float: right;
    margin: 0 0 1em 1em;
    clear: both;
}

figure {
    margin: 0;
}

/*==============================
=            Header            =
==============================*/
.site-header {
    overflow: hidden;
    padding: 2em 0 .5em 0;
    margin-bottom: 2em;
}

@media (min-width: 34em) {
    .site-header {
        margin-bottom: 4em;
    }
}

h1 {
    font-size: 1.5em;
    margin: 0 0 .5em 0;
}

.site-title {
    text-decoration: none;
    font-weight: 300;
}

.site-nav a {
    text-decoration: none;
    float: left;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    text-transform: uppercase;
}

.site-nav a:hover {
    text-decoration: underline;
}

.site-tagline {
    margin: 0 0 1.5em 0;
    font-weight: 300;
    color: $gray4;
    font-size: .875em;
}

/*=======================================
=            Posts and Pages            =
=======================================*/
.post {
    padding-bottom: 4em;
    font-size: 1.25em;
    line-height: 1.6;
}

.post h1 {
    font-size: 2em;
}

.post h2 {
    font-size: 1.8em;
}

.post h3 {
    font-size: 1.5em;
}

.post h4 {
    font-size: 1.25em;
}

.post h5 {
    font-size: 1em;
}

.post h6 {
    font-size: .725em;
}

.post-title {
    margin: 0 auto;
}

.post-link {
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}

.post-date {
    color: $gray4;
    font-size: .875em;
}

.post p {
    clear: both;
}

blockquote {
    padding: 1em 2em;
    margin: 0;
    font-style: italic;
    border-left: solid 3px #333;
}

pre {
    padding: 2em;
    background: #fafafa;
    border: 1px solid #f1f1f1;
}

code {
    font-family: Menlo, Consolas, monospace;
}

/*=====================================
=            Page-specific            =
=====================================*/
/* Archive Page */
.post-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-list li {
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}

.post-list li:last-child {
    margin-bottom: 0;
}

.post-list a {
    float: left;
    display: block;
}

.post-list time {
    float: left;
    clear: both;
    display: block;
    color: $gray4;
}

@media (min-width: 42em) {
    .post-list time {
        float: right;
        clear: none;
    }
}

/*==================================
=            Pagination            =
==================================*/
.pagination {
    overflow: hidden;
}

.previous {
    float: left;
    color: $white;
    padding: 1em 2em;
    background: $gray5;
    text-decoration: none;
}

.next {
    float: right;
    color: $white;
    padding: 1em 2em;
    background: $gray5;
    text-decoration: none;
}

a.previous:hover, a.next:hover {
    background: #111;
}

.inactive {
    background: $gray4;
}

/*==============================
=            Footer            =
==============================*/
.site-footer {
    border-top: solid 1px #EAEAEA;
    background: #f1f1f1;
    padding: 2em 0;
    color: #444;
    margin-top: 2em;
}

@media (min-width: 34em) {
    .site-footer {
        margin-top: 4em;
    }
}
