/* colors */
$dark_gray5: #D1D1D1;
$dark_gray4: #7f7f7f;
$dark_gray3_5: #151515;
$dark_gray3: #0f0f0f;
$dark_gray2_5: #0e0e0e;
$dark_gray2: #0a0a0a;
$dark_gray1: #050505;
$white: #FFFFFF;
$dark_blah: #BBBBBB;
$dark_blerg: #eeeeee;

$black: #000000;


$gray5: #2e2e2e;
$gray4: #808080;
$gray3_5: #eaeaea;
$gray3: #F0F0F0;
$gray2_5: #f1f1f1;
$gray2: #F5F5F5;
$gray1: #fafafa;
$blerg: #111111;
$blah: #444444;
